---
layout: default
title: Rosy Cheeks Restaurant
tagline: Change your life by what you eat
description: Healthy and delicious Thai-fusion in Chiang Mai, Thailand
hero_image: /images/rosycheeks-hero.jpg
recommended-menu:
  - item: Item Name
    description: Description of the item goes here
    price: 100 ฿
  - item: New item name
    description: Delicious ingredients and green yummy stuff.
    price: 400 ฿
thai-menu:
  - item: Item Name
    description: Description of the item goes here
    price: 100 ฿
fusion-menu:
  - item: Item Name
    description: Description of the item goes here
    price: 100 ฿
salad-menu:
  - item: Item Name
    description: Description of the item goes here
    price: 100 ฿
drink-menu:
  - item: Item Name
    price: 100 ฿
coffee-menu:
  - item: Item Name
    hot-price: 100 ฿
    cold-price: 100 ฿
tea-menu:
  - item: Item Name
    price: 100 ฿
shake-menu:
  - item: Item Name
    price: 100 ฿
smoothie-menu:
  - item: Item Name
    description: Description of the item goes here
    price: 100 ฿
about_image: /images/RoseCheeksCMEatsNewcomer.jpg
contact_image: /images/quinoabowl.jpg
keywords: >-
  chiang mai restaurant,restaurant cnx,chiang mai where to eat,vegetarian food
  chiang mai,healthy food chiang mai,chiang mai food no msg,rosy cheeks chiang
  mai,rosy cheeks cnx,rosy cheeks restaurant,best healthy restaurants chiang
  mai, fuji restaurant chiang mai
---
<!-- this is the hero image which should take up the entire view height -->
<section id="hero" class="hero-image" style="background-image: url('{{page.hero_image}}')">
  <div class="hero-title container-right text-right text-shadow">
    <h1 class="editable text-white">Welcome to Rosy Cheeks Restaurant</h1>
    <h3 class="editable text-white pad-top-xs pad-bottom-s">Chiang Mai, Thailand</h3>
    <p class="editable text-white">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  <!-- this is the container for restaurant information which should be top of the image on desktop and beneath the image in mobile -->
  <div class="hero-info shadow grid">
    <div id="hours" class="col-6_sm-12 bg-green text-white text-center">
      <i class="fa fa-clock-o pad-all-s text-l" aria-hidden="true"></i>
      <div class="grid-spaceAround">
        <div>
          <p class="editable text-white">Lunch</p>
          <p class="editable text-white">11:30 - 15:00</p>
        </div>
        <div>
          <p class="editable text-white">Dinner</p>
          <p class="editable text-white">17:00 - 21:00</p>
        </div>
      </div>
      <p class="editable text-white">Closed Sundays</p>
    </div>
    <div id="location" class="col-6_sm-12 bg-white text-green text-center">
      <i class="fa fa-map-marker pad-all-s text-l" aria-hidden="true"></i>
      <p class="editable text-green">Soi Ban Ling Ha 3,Tambon Su Thep, Amphoe Mueang, Chiang Mai 50200</p>
      <a target="_blank" href="https://www.google.co.th/maps/dir//Rosy-Cheeks,+Suthep,+Moung,+Chiang+Mai+50200/@18.7920902,98.9602075,14.11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x30da3a708ebc0e23:0x9c1a6fc559998b6b!2m2!1d98.956656!2d18.79106" class="button-s">directions</a>
    </div>
  </div>
</section>
<!-- this is the menu section which has a brick background and a menu enclosed in a pink background -->
<section id="food-menu" class="bg-brick">
  <div class="bg-pink-trans shadow margin-all-m pad-all-s">
    <h2 class="text-l text-center pad-bottom-s">Menu</h2>
    <!-- these food menus will be a for-loop that needs to be edited by the front matter editor -->
    <h3 class="text-m text-center pad-bottom-s">Recommended Items</h3>
    {% for recommended-menu in page.recommended-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-3_sm-12">{{recommended-menu.item}}</h4>
      <p class="col-7_sm-12">{{recommended-menu.description}}</p>
      <p class="price col-2_sm-12">{{recommended-menu.price}}</p>
    </div>
    {% endfor %}
    <div class="hor-line"></div>
    <h3 class="text-m text-center pad-bottom-s">Thai Family Recipes</h3>
    {% for thai-menu in page.thai-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-3_sm-12">{{thai-menu.item}}</h4>
      <p class="col-7_sm-12">{{thai-menu.description}}</p>
      <p class="price col-2_sm-12">{{thai-menu.price}}</p>
    </div>
    {% endfor %}
    <div class="hor-line"></div>
    <h3 class="text-m text-center pad-bottom-s">International Fusion</h3>
    {% for fusion-menu in page.fusion-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-3_sm-12">{{fusion-menu.item}}</h4>
      <p class="col-7_sm-12">{{fusion-menu.description}}</p>
      <p class="price col-2_sm-12">{{fusion-menu.price}}</p>
    </div>
    {% endfor %}
    <div class="hor-line"></div>
    <h3 class="text-m text-center pad-bottom-s">Salads</h3>
    {% for salad-menu in page.salad-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-3_sm-12">{{salad-menu.item}}</h4>
      <p class="col-7_sm-12">{{salad-menu.description}}</p>
      <p class="price col-2_sm-12">{{salad-menu.price}}</p>
    </div>
    {% endfor %}
  </div>
  <div class="bg-pink-trans shadow margin-all-m pad-all-s">
    <h2 class="text-l text-center pad-bottom-s">Beverages</h2>
    <h3 class="text-m text-center pad-bottom-s">Soft Drinks</h3>
    {% for drink-menu in page.drink-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-10_sm-12">{{drink-menu.item}}</h4>
      <p class="price col-2_sm-12">{{drink-menu.price}}</p>
    </div>
    {% endfor %}
    <div class="hor-line"></div>
    <h3 class="text-m text-center pad-bottom-s">Coffee</h3>
    {% for coffee-menu in page.coffee-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-8_sm-12">{{coffee-menu.item}}</h4>
      <p class="price col-2_sm-6">Hot {{coffee-menu.hot-price}}</p>
      <p class="price col-2_sm-6">Cold {{coffee-menu.cold-price}}</p>
    </div>
    {% endfor %}
    <div class="hor-line"></div>
    <h3 class="text-m text-center pad-bottom-s">Tea</h3>
    {% for tea-menu in page.tea-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-10_sm-12">{{tea-menu.item}}</h4>
      <p class="price col-2_sm-12">{{tea-menu.price}}</p>
    </div>
    {% endfor %}
    <div class="hor-line"></div>
    <h3 class="text-m text-center pad-bottom-s">Fruit Shakes</h3>
    {% for shake-menu in page.shake-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-10_sm-12">{{shake-menu.item}}</h4>
      <p class="price col-2_sm-12">{{shake-menu.price}}</p>
    </div>
    {% endfor %}
    <div class="hor-line"></div>
    <h3 class="text-m text-center pad-bottom-s">Smoothies</h3>
    {% for smoothie-menu in page.smoothie-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-3_sm-12">{{smoothie-menu.item}}</h4>
      <p class="col-7_sm-12">{{smoothie-menu.description}}</p>
      <p class="price col-2_sm-12">{{smoothie-menu.price}}</p>
    </div>
    {% endfor %}
  </div>
</section>
<!-- this is the about section which has a full-width background image and a small box on the right for text -->
<section id="about" class="about-image" style="background-image: url('{{page.about_image}}')">
  <div class="about-info">
    <div class="bg-white pad-all-s">
      <h2 class="editable margin-bottom-xs text-green text-center text-m">About Us</h2>
      <p class="editable">Just start writing anything here.</p>
    </div>
  </div>
</section>
<!-- this is the section which contains the instagram gallery and the blurb regarding deliveries, the background of this section is the same brick from behind the menu section -->
<section class="bg-brick">
  <div id="gallery" class="margin-all-m shadow">
  <!-- Instagram Widget Embed Start -->
  <div class="instawidget" style="margin: 0; background-color: gba(255, 255, 255, 0.8);" data-user-name="rosycheeks_cnx" data-amount="12" data-grid="6"></div><script type="text/javascript" src="//www.stadget.com/cdn/widget-init.min.js"></script>
  <!-- Instagram Widget Embed End -->
  </div>
  <div id="delivery" class="text-center bg-white-trans shadow margin-all-m pad-all-s">
    <h2 class="text-green text-l">We deliver with BEP Bicycle Couriers</h2>
    <h4 class="text-m margin-top-xs margin-bottom-s">Send them your order via Facebook Messenger or Line to place a delivery.</h4>
    <a href="https://www.facebook.com/pg/bepcyclecouriers/about/" target="_blank" class="button text-m">order now</a>
  </div>
</section>
<!-- this is the contact form -->
<section id="contact" class="contact-image" style="background-image: url('{{page.contact_image}}')">
  <div class="bg-white-trans shadow margin-all-m pad-all-xs text-center">
    <h2 class="text-m">Contact Us</h2>
    <form class="grid-center" method="POST" action="http://formspree.io/lily@cnxweb.site">
      <input type="name" name="name" placeholder="Your name" required />
      <input type="email" name="email" placeholder="Your email" required />
      <textarea name="message" placeholder="Your message" required></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</section>
