---
layout: default
title: Rosy Cheeks Restaurant
tagline: Change your life by what you eat
description: 'Healthy and delicious Thai-fusion in Chiang Mai, Thailand'
hero_image: /images/rosycheeks-hero.jpg
recommended-menu:
  - item: The Fresh Roll
    description: >-
      Fresh spring roll filled up with wakame seaweed with spicy mashed avocado
      and peanut butter sauce on top
    price: 110 ฿
  - item: Bruschetta
    description: >-
      Grilled eggplant, tomato, toasted sweet corn, black beans, cucumber and
      topped with balsamic reduction
    price: 110 ฿
  - item: Sweet & Sour Tofu
    description: >-
      Grilled tofu in tamarind sauce topped with crispy shallots and dried
      chillies
    price: 110 ฿
  - item: Salmon Ceviche
    description: >-
      Raw salmon sliced with lime to make the acid in citrus "cook" the fish,
      included coconut milk, which compliments all the other ingredients so
      luxuriously
    price: 195 ฿
thai-menu:
  - item: Baked Rice in Clay Pot
    description: >-
      Baked rice with chicken or tofu, ginkgo, raisin, cashew nuts, shitake
      mushroom, sweet Chinese pork sausages (in chicken option), mix vegetable
    price: 120 ฿
  - item: Yellow Chicken Curry Set
    description: >-
      Choose rice/grilled tortilla served with chicken curry, cucumber dips,
      side salad
    price: 150 ฿
  - item: Chicken Jaew
    description: Rice and grilled chicken with Thai spicy sauce
    price: 150 ฿
  - item: The Gra Prao
    description: >-
      Rice omelette and grilled chicken patty topped with Thai holy basil Gra
      Prao sauce
    price: 150 ฿
  - item: Papaya Padthai
    description: >-
      We uses green papaya noodles instead of rice noodles served with omelette
      on top
    price: 150 ฿
  - item: The Tom Yum
    description: Rice omelette and stir-fried Tom Yum with prawns
    price: 195 ฿
fusion-menu:
  - item: Tortilla Pesto Pizza
    description: >-
      10" tortilla topped with pesto, tomato, sliced red onion, Thai basil,
      avocado, arugula
    price: 135 ฿
  - item: The Japanese Quinua Bowl
    description: >-
      Quinoa with Japanese sesame soya dressing flavor topped with wakame
      seaweed, boiled egg, Japanese cucumber, teriyaki tofu, avocado and pickled
      pink ginger
    price: 180 ฿
  - item: Phorrito (Chicken/Tempeh)
    description: >-
      Vietnamese noodles in tortilla wraps filled up with red cabbage, cilantro,
      Thai basil, mint, rice noodles, bean sprout finished with hoisin and
      Sriracha sauce
    price: 150/170 ฿
  - item: Spicy Basil Pasta with Pork Ribs Honey
    description: >-
      Spaghetti or black ink fettuccine with spicy basil sauce served with pork
      ribs honey
    price: 180 ฿
  - item: Pasta Pesto Prawns
    description: Spaghetti or black ink fettuccine cooked with pesto and prawns
    price: 195 ฿
  - item: Rosy-Risotto
    description: >-
      Beetroot quinoa risotto, mix seared mushroom, Parmesan cheese, pickled
      beetroot topped with refreshing salad
    price: 180 ฿
  - item: Coho Salmon Fillet
    description: >-
      Salmon fillet comes with garlic quinoa and cauliflower Parmesan puree,
      charred pickled cauliflower topped with tamarind leaf salad
    price: 290 ฿
  - item: Mama's Pork Ribs Honey
    description: Half rack Asian style pork ribs with side salad and grilled pineapple
    price: 290 ฿
salad-menu:
  - item: Laphet Thoke (La-Pay-Toe)
    description: >-
      Burmese tea leaf salad. Pickled tea leaves, crisp, roasted peanuts,
      crunchy beans, toasted sesame seeds, tomato
    price: 100 ฿
  - item: Tamarind Leaf Salad
    description: >-
      Burmese Tamarind Leaf Salad. Fresh young tamarind leaves, roasted peanuts,
      shallots, toasted sesame seeds, tomato
    price: 100 ฿
  - item: Rosy-Cheeks Grilled Chicken Salad
    description: >-
      Refreshing big salad with seasonal fruits and choose grilled
      pineapple/longan/lychee
    price: 169 ฿
drink-menu:
  - item: Peach Soda
    price: 45 ฿
  - item: Lychee Mint Soda
    price: 50 ฿
  - item: Thai Iced Tea
    price: 45 ฿
  - item: Peach Iced Tea
    price: 45 ฿
  - item: Water (bottle)
    price: 20 ฿
  - item: Soda
    price: 20 ฿
  - item: Soda with Fresh Lime
    price: 30 ฿
  - item: Coke/Schweppes
    price: 25 ฿
  - item: Palm Juice
    price: 20 ฿
coffee-menu:
  - item: Espresso
    hot-price: 35 ฿
    cold-price: '-'
  - item: Americano
    hot-price: 45 ฿
    cold-price: 50 ฿
  - item: Cappuccino
    hot-price: 55 ฿
    cold-price: 60 ฿
  - item: Mocha
    hot-price: 60 ฿
    cold-price: 65 ฿
  - item: Latte
    hot-price: 55 ฿
    cold-price: 60 ฿
tea-menu:
  - item: Roasted Organic Brown Rice Tea
    price: 50 ฿
  - item: Organic Green Tea
    price: 50 ฿
  - item: Peach Tea
    price: 50 ฿
  - item: Wild Berry Tea
    price: 50 ฿
  - item: English Breakfast Tea
    price: 50 ฿
  - item: Earl Grey Tea
    price: 50 ฿
shake-menu:
  - item: Pineapple
    price: 55 ฿
  - item: Strawberry
    price: 55 ฿
  - item: Banana
    price: 55 ฿
  - item: Watermelon
    price: 50 ฿
  - item: Mango
    price: 90 ฿
smoothie-menu:
  - item: Aloha Protein Powder
    description: >-
      Strawberry, pineapple, banana, quinoa, shredded coconut, coconut milk,
      yogurt
    price: 90 ฿
  - item: Vitamin C Monster
    description: 'Mango, banana, peach, chia seeds, orange juice, soy milk, yogurt'
    price: 90 ฿
  - item: Anti Inflammatory
    description: 'Carrot, papaya, mango, banana, ginger, pumpkin seeds, turmeric, yogurt'
    price: 90 ฿
  - item: Super Energy Charger
    description: >-
      Spinach, banana, green apple, avocado, pineapple, cashew nut, coconut
      water
    price: 90 ฿
  - item: Antioxidant Boosting Power
    description: >-
      Blueberry, strawberry, banana, chia seeds, pomegranate juice, green tea,
      yogurt
    price: 90 ฿
  - item: Brain Power
    description: >-
      Blackberry, banana, strawberry, goji berry, cashew nut, chia seeds,
      coconut water
    price: 90฿
  - item: Awake
    description: 'Dark choc, oats, peanut butter, coffee, yogurt'
    price: 90 ฿
about_image: /images/RoseCheeksCMEatsNewcomer.jpg
contact_image: /images/quinoabowl.jpg
keywords: >-
  chiang mai restaurant,restaurant cnx,chiang mai where to eat,vegetarian food
  chiang mai,healthy food chiang mai,chiang mai food no msg,rosy cheeks chiang
  mai,rosy cheeks cnx,rosy cheeks restaurant,best healthy restaurants chiang
  mai, fuji restaurant chiang mai
---

<!-- this is the hero image which should take up the entire view height -->
<section id="hero" class="hero-image" style="background-image: url('{{page.hero_image}}')">
  <div class="hero-title container-right text-right text-shadow">
    <h1 class="editable text-white">Welcome to Rosy Cheeks Restaurant</h1>
    <h3 class="editable text-white pad-top-xs pad-bottom-s">Chiang Mai, Thailand</h3>
    <p class="editable text-white">
      We like to serve healthy food to happy people. Come visit us today!
    </p>
  </div>
  <!-- this is the container for restaurant information which should be top of the image on desktop and beneath the image in mobile -->
  <div class="hero-info shadow grid">
    <div id="hours" class="col-6_sm-12 bg-green text-white text-center">
      <i class="fa fa-clock-o pad-all-s text-l" aria-hidden="true"></i>
      <div class="grid-spaceAround">
        <div>
          <p class="editable text-white">Lunch</p>
          <p class="editable text-white">11:30 - 15:00</p>
        </div>
        <div>
          <p class="editable text-white">Dinner</p>
          <p class="editable text-white">17:00 - 21:00</p>
        </div>
      </div>
      <p class="editable text-white">Closed Sundays</p>
    </div>
    <div id="location" class="col-6_sm-12 bg-white text-green text-center">
      <i class="fa fa-map-marker pad-all-s text-l" aria-hidden="true"></i>
      <p class="editable text-green">Soi Ban Ling Ha 3,Tambon Su Thep, Amphoe Mueang, Chiang Mai 50200</p>
      <a target="_blank" href="https://www.google.co.th/maps/dir//Rosy-Cheeks,+Suthep,+Moung,+Chiang+Mai+50200/@18.7920902,98.9602075,14.11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x30da3a708ebc0e23:0x9c1a6fc559998b6b!2m2!1d98.956656!2d18.79106" class="button-s">directions</a>
    </div>
  </div>
</section>
<!-- this is the menu section which has a brick background and a menu enclosed in a pink background -->
<section id="food-menu" class="bg-brick">
  <div class="bg-pink-trans shadow margin-all-m pad-all-s">
    <h2 class="text-l text-center pad-bottom-s">Menu</h2>
    <!-- these food menus will be a for-loop that needs to be edited by the front matter editor -->
    <h3 class="text-m text-center pad-bottom-s">Recommended Items</h3>
    {% for recommended-menu in page.recommended-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-3_sm-12">{{recommended-menu.item}}</h4>
      <p class="col-7_sm-12">{{recommended-menu.description}}</p>
      <p class="price col-2_sm-12">{{recommended-menu.price}}</p>
    </div>
    {% endfor %}
    <div class="hor-line"></div>
    <h3 class="text-m text-center pad-bottom-s">Thai Family Recipes</h3>
    {% for thai-menu in page.thai-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-3_sm-12">{{thai-menu.item}}</h4>
      <p class="col-7_sm-12">{{thai-menu.description}}</p>
      <p class="price col-2_sm-12">{{thai-menu.price}}</p>
    </div>
    {% endfor %}
    <div class="hor-line"></div>
    <h3 class="text-m text-center pad-bottom-s">International Fusion</h3>
    {% for fusion-menu in page.fusion-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-3_sm-12">{{fusion-menu.item}}</h4>
      <p class="col-7_sm-12">{{fusion-menu.description}}</p>
      <p class="price col-2_sm-12">{{fusion-menu.price}}</p>
    </div>
    {% endfor %}
    <div class="hor-line"></div>
    <h3 class="text-m text-center pad-bottom-s">Salads</h3>
    {% for salad-menu in page.salad-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-3_sm-12">{{salad-menu.item}}</h4>
      <p class="col-7_sm-12">{{salad-menu.description}}</p>
      <p class="price col-2_sm-12">{{salad-menu.price}}</p>
    </div>
    {% endfor %}
  </div>
  <div class="bg-pink-trans shadow margin-all-m pad-all-s">
    <h2 class="text-l text-center pad-bottom-s">Beverages</h2>
    <div class="grid-spaceBetween">
      <div class="col-5_sm-12">
        <h3 class="text-m text-center pad-bottom-s">Soft Drinks</h3>
        {% for drink-menu in page.drink-menu %}
        <div class="grid food-menu pad-bottom-xs">
          <h4 class="col-10_sm-12">{{drink-menu.item}}</h4>
          <p class="price col-2_sm-12">{{drink-menu.price}}</p>
        </div>
        {% endfor %} 
      </div>
      <div class="col-5_sm-12">
        <h3 class="text-m text-center pad-bottom-s">Fruit Shakes</h3>
        {% for shake-menu in page.shake-menu %}
        <div class="grid food-menu pad-bottom-xs">
          <h4 class="col-10_sm-12">{{shake-menu.item}}</h4>
          <p class="price col-2_sm-12">{{shake-menu.price}}</p>
        </div>
        {% endfor %} 
      </div>
    </div>
    <div class="hor-line"></div>
    <div class="grid-spaceBetween">
      <div class="col-5_sm-12">
         <h3 class="text-m text-center pad-bottom-s">Coffee</h3>
         {% for coffee-menu in page.coffee-menu %}
         <div class="grid food-menu pad-bottom-xs">
           <h4 class="col-8_sm-12">{{coffee-menu.item}}</h4>
           <p class="price col-2_sm-6">Hot {{coffee-menu.hot-price}}</p>
           <p class="price col-2_sm-6">Cold {{coffee-menu.cold-price}}</p>
         </div>
         {% endfor %}
      </div>
      <div class="col-5_sm-12">
        <h3 class="text-m text-center pad-bottom-s">Tea</h3>
        {% for tea-menu in page.tea-menu %}
        <div class="grid food-menu pad-bottom-xs">
          <h4 class="col-10_sm-12">{{tea-menu.item}}</h4>
          <p class="price col-2_sm-12">{{tea-menu.price}}</p>
        </div>
        {% endfor %} 
      </div>
    </div>
    <div class="hor-line"></div>
    <h3 class="text-m text-center pad-bottom-s">Smoothies</h3>
    {% for smoothie-menu in page.smoothie-menu %}
    <div class="grid food-menu pad-bottom-xs">
      <h4 class="col-3_sm-12">{{smoothie-menu.item}}</h4>
      <p class="col-7_sm-12">{{smoothie-menu.description}}</p>
      <p class="price col-2_sm-12">{{smoothie-menu.price}}</p>
    </div>
    {% endfor %}
  </div>
</section>
<!-- this is the about section which has a full-width background image and a small box on the right for text -->
<section id="about" class="about-image" style="background-image: url('{{page.about_image}}')">
  <div class="about-info">
    <div class="bg-white pad-all-s">
      <h2 class="editable margin-bottom-xs text-green text-center text-m">About Us</h2>
      <p class="editable">Just start writing anything here.</p>
    </div>
  </div>
</section>
<!-- this is the section which contains the instagram gallery and the blurb regarding deliveries, the background of this section is the same brick from behind the menu section -->
<section class="bg-brick">
  <div id="gallery" class="margin-all-m bg-white-trans shadow">
  <!-- Instagram Widget Embed Start -->
  <div class="instawidget" data-user-name="rosycheeks_cnx" data-amount="12" data-grid="6"></div><script type="text/javascript" src="//www.stadget.com/cdn/widget-init.min.js"></script>
  <!-- Instagram Widget Embed End -->
  </div>
  <div id="delivery" class="text-center bg-white-trans shadow margin-all-m pad-all-s">
    <h2 class="text-green text-l">We deliver with BEP Bicycle Couriers</h2>
    <h4 class="text-m margin-top-xs margin-bottom-s">Send them your order via Facebook Messenger or Line to place a delivery.</h4>
    <a href="https://www.facebook.com/pg/bepcyclecouriers/about/" target="_blank" class="button text-m">order now</a>
  </div>
</section>
<!-- this is the contact form -->
<section id="contact" class="contact-image" style="background-image: url('{{page.contact_image}}')">
  <div class="bg-white-trans shadow margin-all-m pad-all-xs text-center">
    <h2 class="text-m">Contact Us</h2>
    <form class="grid-center" method="POST" action="http://formspree.io/lily@cnxweb.site">
      <input type="name" name="name" placeholder="Your name" required />
      <input type="email" name="email" placeholder="Your email" required />
      <textarea name="message" placeholder="Your message" required></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</section>
