<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="{{ page.keywords }}"/>
    <meta name="author" content="Lily Bruns">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
    <link href="https://fonts.googleapis.com/css?family=Antic+Slab|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css"/>
    <link rel="stylesheet" href="styles/style.css">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
    <title>{{page.title}} - {{page.tagline}}</title>
  </head>
  {{content}}
</html>
