---
layout: default
title:
description:
keywords:
post_image:
---
<section class="bg-brick pad-bottom-s">
  {% for post in site.posts limit:1 %}
  <div id="hero" class="hero-image" style="background-image: url('{{post.hero_image}}')">
    <div class="bg-white-trans shadow margin-left-m margin-right-m pad-all-s text-center news-featured-post">
      <h1>{{post.title}}</h1>
      <h3 class="pad-top-xs pad-bottom-s">{{post.description}}</h3>
      <h6>Published {{post.date | date: '%B %d, %Y'}}</h6>
    </div>
  </div>
  <div class="pad-left-m pad-right-m pad-bottom-s">
    <div class="bg-white-trans shadow pad-all-s">
      <p>
        {{post.content}}
      </p>
      <div class="container-center">
          <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_whatsapp"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_line"></a>
            <a class="a2a_button_google_plus"></a>
            <a class="a2a_button_wechat"></a>
          </div>
      </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
    </div>
  </div>
  {% endfor %}
  <!-- AddToAny BEGIN -->
  <div class="text-center">
    <a href="/news" class="button text-m">back to main news</a>
  </div>
</section>
