---
layout: default
title:
description:
keywords:
post_image:
---
<section class="bg-brick pad-bottom-s">
  {% for post in site.posts limit:1 %}
  <div id="hero" class="hero-image" style="background-image: url('{{post.hero_image}}')">
    <div class="bg-white-trans shadow margin-left-m margin-right-m pad-all-s text-center news-featured-post">
      <h1>{{post.title}}</h1>
      <h3 class="pad-top-xs pad-bottom-s">{{post.description}}</h3>
      <h6>Published {{post.date | date: '%B %d, %Y'}}</h6>
    </div>
  </div>
  <div class="pad-left-m pad-right-m pad-bottom-s">
    <div class="bg-white-trans shadow pad-all-s">
      <p>
        {{post.content}}
      </p>
    </div>
  </div>
  {% endfor %}
  <div class="text-center">
    <a href="/news" class="button text-m">back to main news</a>
  </div>
</section>
