/* universal styles applied across the site */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*border: solid 0.25px powderblue;*/
}
[class*=grid-],[class*=grid_],[class~=grid]{
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
h1,h2,h3 {
  font-family: 'Antic Slab', serif;
  color: h
}
h4,h5,h6,p {
  font-family: 'PT Sans', sans-serif;
  color: #353535
}
p {
  margin-bottom: 1.5rem;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: inherit;
}
a:visited {
  color: inherit;
}
a.button {
  background-color: #7dc95e;
  color: white;
  font-family: 'Antic Slab', serif;
  line-height: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 45px;
  padding: 5px 20px;
}
a.button:hover {
  font-size: 1.6rem;
  transition: all .2s ease-in-out;
}
a.button-s {
  background-color: #7dc95e;
  color: white;
  font-family: 'Antic Slab', serif;
  line-height: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 45px;
  padding: 5px 20px;
}
a.button-s:hover {
  font-size: 1.1rem;
  transition: all .2s ease-in-out;
}
button {
  background-color: #7dc95e;
  color: white;
  font-family: 'Antic Slab', serif;
  line-height: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 45px;
  padding: 5px 20px;
  border-color: transparent;
}
button:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}
/* nav styling in default desktop view ------------------------------------- */
nav {
  position: fixed;
  z-index: 99;
  top: 0;
  height: 50px;
  width: 102%;
  background-color: white;
  box-shadow: 2px 2px 20px grey;
}
nav h2 {
  color: #7dc95e;
  text-transform: uppercase;
}
nav a:hover {
  text-decoration: none;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}
/* nav styling in mobile view ---------------------------------------------- */
#menu-mobile {
  position: fixed;
  z-index: 98;
  top: 0;
  height: 40px;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 20px grey;
}
/* mobile menu ------------------------------------------------------------- */
#mobile-menu {
  background-color: #7dc95e;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}
#mobile-menu.mobile-menu-visible {
  display: block;
}
#mobile-menu a {
  color: white;
  font-size: 4rem;
  font-family:  'Antic Slab', serif;
}
#mobile-menu a:hover {
  color: white;
  font-weight: bold;
  transition: all .2s ease-in-out;
}
#hamburger{
  position: absolute;
  z-index: 999;
  right: 20px;
  margin-top: 5px;
  display: none !important;
}
@media all and (max-width:768px) {
  #hamburger {
    display: block !important;
  }
  #menu {
    display: none;
  }
}
/* hero styling ------------------------------------------------------------ */
#hero {
  padding-top: 10vh;
}
#hero h1 {
  margin: 0;
}
.hero-image {
  background-image: url("/images/rosycheeks-hero.jpg");
  background-color: #7dc95e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow-y: hidden;
}
.hero-title {
  padding: 15% 1% 0 50%;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}
.hero-info {
  margin-left: 58%;
  margin-right: 0.4%;
  max-width: 100%;
}
@media all and (max-width:768px) {
  .hero-image {
    height: 100%;
  }
  .hero-title {
    padding: 0;
    margin: auto;
    text-align: center !important;
  }
  .hero-info {
    width: 100%;
    margin: auto 0;
  }
}
/* food menu styling ------------------------------------------------------------ */
/*.food-menu {
  text-align: center;
}*/
.price {
  text-align: right;
}
.hor-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #353535;
  margin: 1em 30%;
  padding: 0 0 1% 0;
}
@media all and (max-width:768px) {
  .food-menu {
    text-align: center;
  }
  .price {
    text-align: center;
  }
}
/* about us ---------------------------------------------------------------- */
.about-image {
  background-image: url("/images/RoseCheeksCMEatsNewcomer.jpg");
  background-color: #7dc95e;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center;*/
  height: 100vh;
  overflow-y: hidden;
}
.about-info {
  padding-top: 30%;
  padding-left: 58%;
  padding-right: 1%;
}
@media all and (max-width:768px) {
  .about-image {
    background-size: 100%;
    height: 100%;
  }
  .about-info {
    padding: 0;
    margin-top: 60%;
    margin-bottom: 0;
  }
}
/* contact us -------------------------------------------------------------- */
.contact-image {
  background-image: url("/images/quinoabowl.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  overflow-y: hidden;
}
form input,textarea {
  width: 90%;
  margin: 1% auto;
  line-height: 2em;
  font-family: 'PT Sans', sans-serif;
  border: 0.25px inset rgba(121,121,121,0.2) !important;
}
form button {
  font-size: 1.5rem;
  margin: 2% 2%;
}
/* footer ------------------------------------------------------------------ */
.footer-icon {
  font-size: 4em;
}
.footer-img {
  max-height: 60px;
  max-width: 60px;
  padding-top: 5px;
}
footer a:hover {
  color: white;
}
/* typography and text helpers --------------------------------------------- */
.text-white {
  color: white;
}
.text-green {
  color: #7dc95e;
}
.text-pink {
  color: #eaa1a1;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-l {
  font-size: 2.5rem;
}
.text-m {
  font-size: 1.5rem;
}
.text-shadow {
  text-shadow: 2px 2px 5px #3f3f3f;
}
/* backgrounds and containers */
.bg-white {
  background-color: white;
}
.bg-white-trans {
  background-color: rgba(255, 255, 255, 0.8)
}
.bg-green {
  background-color: #7dc95e;
}
.bg-pink {
  background-color: #eaa1a1;
}
.bg-pink-trans {
  background-color: rgba(234, 161, 161, 0.8)
}
.bg-dark {
  background-color: #353535;
}
.bg-brick {
  background-image: url("/images/brick.jpg");
  background-color: white;
  background-size: 100vw;
  overflow-y: hidden;
}
.container-center {
  margin: 0 auto;
}
.container-right {
  margin-left: auto;
  margin-right: 0;
}
.shadow {
  box-shadow: 2px 2px 20px grey;
}
/* positioning helpers ----------------------------------------------------- */
.position-rel {
  position: relative;
}
.position-abs {
  position: absolute;
}
@media all and (max-width:768px) {
  .position-abs {
    position: static;
  }
  .position-rel {
    position: static;
  }
}
/* padding/margins helpers ------------------------------------------------- */
.max-width {
  max-width: 100%;
}
.pad-all-xs {
  padding: 1%;
}
.pad-all-s {
  padding: 5%;
}
.pad-all-m {
  padding: 10%;
}
.pad-all-l {
  padding: 20%;
}
.pad-top-xs {
  padding-top: 1%;
}
.pad-top-s {
  padding-top: 5%;
}
.pad-top-m {
  padding-top: 10%;
}
.pad-top-l {
  padding-top: 20%;
}
.pad-right-xs {
  padding-right: 1%;
}
.pad-right-s {
  padding-right: 5%;
}
.pad-right-m {
  padding-right: 10%;
}
.pad-right-l {
  padding-right: 20%;
}
.pad-bottom-xs {
  padding-bottom: 1%;
}
.pad-bottom-s {
  padding-bottom: 5%;
}
.pad-bottom-m {
  padding-bottom: 10%;
}
.pad-bottom-l {
  padding-bottom: 20%;
}
.pad-left-xs {
  padding-left: 1%;
}
.pad-left-s {
  padding-left: 5%;
}
.pad-left-m {
  padding-left: 10%;
}
.pad-left-l {
  padding-left: 20%;
}
.margin-all-xs {
  margin: 1%
}
.margin-all-s {
  margin: 5%
}
.margin-all-m {
  margin: 10%
}
.margin-all-l {
  margin: 20%
}
.margin-top-xs {
  margin-top: 1%
}
.margin-top-s {
  margin-top: 5%
}
.margin-top-m {
  margin-top: 10%
}
.margin-top-l {
  margin-top: 20%
}
.margin-right-xs {
  margin-right: 1%
}
.margin-right-s {
  margin-right: 5%
}
.margin-right-m {
  margin-right: 10%
}
.margin-right-l {
  margin-right: 20%
}
.margin-bottom-xs {
  margin-bottom: 1%
}
.margin-bottom-s {
  margin-bottom: 5%
}
.margin-bottom-m {
  margin-bottom: 10%
}
.margin-bottom-l {
  margin-bottom: 20%
}
.margin-left-xs {
  margin-left: 1%
}
.margin-left-s {
  margin-left: 5%
}
.margin-left-m {
  margin-left: 10%
}
.margin-left-l {
  margin-left: 20%
}
/* odd helpers ------------------------------------------------------------- */
